:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #191414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spotify-black: #191414;
  --spotify-green: #1DB954;
  --spotify-green--hover: #34e472;
  --spotify-white: #FFFFFF;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: var(--spotify-black);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  width: 100px;
  padding: 1rem;
  margin: auto;
  border-radius: 5px;
  font-size: 1.5rem;
}

.button.green {
  background-color: var(--spotify-green);
  color: var(--spotify-white);
}

.button.green:hover {
  background-color: var(--spotify-green--hover);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo-med {
  width: 400px;
  height: auto;
  margin: auto;
}

.viewport-centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  padding-top: 10%;
  /* margin: 0 auto; */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 763px) {

  .logo-med {
    width: 300px;
  }
}