@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #191414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --spotify-black: #191414;
  --spotify-green: #1DB954;
  --spotify-green--hover: #34e472;
  --spotify-white: #FFFFFF;
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  /* background-color: var(--spotify-black); */
  background-color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  width: 100px;
  padding: .5rem;
  margin: auto;
  border-radius: 5px;
  font-size: 1.125rem;
  text-align:center;
}

.button-small {

}

.green {
  background-color: var(--spotify-green);
  color: var(--spotify-white);
}

.button.green:hover {
  background-color: var(--spotify-green--hover);
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo-med {
  width: 400px;
  height: auto;
  margin: auto;
}

.viewport-centered {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: auto;
  padding-top: 10%;
  /* margin: 0 auto; */
}


.panel {
  padding: 1rem;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  max-width: 572px;
  display: flex;
  flex-direction: column;
  background-color: var(--spotify-black);
}

.panel > p {
  font-size: 2rem;
}


.grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 10px;
    position: relative;
}

.grid__item {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease, z-index 0.3s ease;
}

.grid__item:hover {
    transform: scale(1.2);
    z-index: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 763px) {

  .logo-med {
    width: 300px;
  }
}